<?xml version="1.0" ?>
<gazebo reference="link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <selfCollide>0</selfCollide>
    <maxContacts>15</maxContacts>
    <material>Gazebo/Yellow</material>
</gazebo>