<?xml version="1.0" ?>
<robot name="robot">
    <link name="simple_link">
        <visual>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
        <origin rpy="1 2 3" xyz="4 5 6"/>
            <geometry>
                <cylinder length="0.5" radius="0.5"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <origin rpy="0 0 0" xyz="1 2 3"/>
            <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
        </inertial>
    </link>
    <gazebo reference="simple_link">
        <material>Gazebo/Blue</material>
    </gazebo>
</robot>